.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(https://static.pexels.com/photos/7991/pexels-photo.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
 font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  
  font-size: 18px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
    font-family: 'Pacifico', cursive;

}

.neighborhood-guides p{
     font-size: 15px;
    margin-bottom: 13px; 
    font-family: 'Indie Flower', cursive;
}
