body {
     
     background-color: lavender;
     color: #ff6000;
     font-family: 'Courgette', cursive;
     background-image: url(http://www.transcarga.net/wp-content/uploads/2015/08/woman-legs-girl-grey.jpg);
     background-size: cover;
     font-size: 24px;
    }
h1 {
     text-align: center;
     color: #43C6DB;
     font-family: 'Pacifico', cursive;
     font-size: 40px;
    }
    
     h3 {
     text-align: center;
     color: #FFFFFF;
     font-family: 'Pacifico', cursive;
     font-size: 20px;
    }
    img{
         text-align: center;
    }
    nav{
         text-align: center;
    }
         
    }
nav a{
     
     color:#43C6DB;
     text-decoration: none;
     }    
nav a:visited{
     color: #43C6DB;
}
    
  
