body {
     
     background-color: lavender;
     color: #FF581C;
     font-family: 'Courgette', cursive;
     background-image: url(http://www.transcarga.net/wp-content/uploads/2015/08/woman-legs-girl-grey.jpg);
     background-size: cover;
     font-size: 30px;
    }
h1 {
     text-align: center;
     color: #43C6DB;
     font-family: 'Pacifico', cursive;
     font-size: 50px;
     padding-top: 1px;
    }
    img{
         text-align: center;
    }
    nav{
         text-align: center;
    }
         
    }
nav a{
     
     color:#47c4d8;
     text-decoration: none;
     }    
nav a:visited{
     color: #ff5300;
}
    
  
