body {
     
     background-color: lavender;
     color: #ff6000;
     font-family: 'Courgette', cursive;
     background-image: url(http://www.transcarga.net/wp-content/uploads/2015/08/woman-legs-girl-grey.jpg);
     background-size: cover;
     font-size: 24px;
     margin: 0;
    }
h1 {
     text-align: center;
     color: #43C6DB;
     font-family: 'Pacifico', cursive;
     font-size: 40px;
    }
    
     h3 {
     text-align: center;
     color: #FFFFFF;
     font-family: 'Pacifico', cursive;
     font-size: 20px;
    }
    img{
         text-align: center;
    }
    nav{
         text-align: center;
    }
         
    }
nav a{
     
     color:#43C6DB;
     text-decoration: none;
     }    
nav a:visited{
     color: #43C6DB;
}

section {
     background-color: red;
     text-align: center;
     height: 250px;
     width: 100%;
     
}
section a{
     color: #fff;
     border: 1px solid #fff;
     padding: 20px;
     text-decoration: none;
     text-transform: uppercase;
     height: 25px;
}
section {
  position: relative;
}

section a {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}
    
  
