body {
     background-color: lavender;
     color: #DB7093;
     font-family: 'Architects Daughter', cursive;
     background-image: url (http://i2.wp.com/barnimages.com/wp-content/uploads/2015/06/PG1906_BarnImages.com-10.jpg?resize=1024%2C683);
     background-size: cover;
    }
h1 {
     color: #455A64;
     font-family:'Shadows Into Light', cursive;
    }
  
