body {
     
     background-color: lavender;
     color: #DB7093;
     font-family: 'Architects Daughter', cursive;
     background-image: url(https://static.pexels.com/photos/6344/woman-legs-girl-grey.jpg);
     background-size: cover;
    }
h1 {
     text-align: center;
     color: #43C6DB;
     font-family: 'Pacifico', cursive;
     font-size: 36px;
    }
    nav{
         text-align: center;
    }
         
    }
nav a{
     
     color:#000000;
     text-decoration: none;
     }    
nav a:visited{
     color: #000000;
}
    
  
