body {
     
     background-color: lavender;
     color: #DB7093;
     font-family: 'Architects Daughter', cursive;
     background-image: url(https://static.pexels.com/photos/6344/woman-legs-girl-grey.jpg);
     background-size: cover;
    }
h1 {
     text-align: center;
     color: #455A64;
     font-family: 'Pacifico', cursive;
     font-size: 36px;
    }
  
